* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(90deg, rgb(44, 124, 88) 0%, rgb(204, 86, 7) 100%);
  text-align: center;
}

.board {
  max-width: 1500px;
}

h1 {
  text-align: center;
  color: rgb(212, 233, 27);
  padding: 50px;
  font-size: 50px;
}

.cell {
  height: 150px;
  width: 250px;
  border: 2px solid black;
  background-color: rgb(89, 0, 255);
  margin: 3px 1px;
  cursor: pointer;
}

#imagem {
  height: 100px;
  width: 100px;
}

img {
  height: 100px;
  width: 100px;
  margin-right: 80px;
  margin-left: 70px;
  text-align: center;
}

.imgcontainer {
  display: flex;
}

#iniciate {
  margin-top: 100px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: darkviolet;
}

#restart {
  margin-top: 100px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: darkviolet;
}
