* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body {
  height: 100vw;
  width: 100dw;
  background: linear-gradient(
    90deg,
    rgba(65, 185, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-left: 40px;
}

h1 {
  text-align: center;
  color: rgb(212, 233, 27);
  padding: 50px;
  font-size: 50px;
}

.cell {
  height: 150px;
  width: 250px;
  border: 2px solid black;
  align-items: center;
  background-color: rgb(0, 89, 255);
  size: 16px;
  margin-bottom: 3px;
}

#imagem {
  height: 150px;
  width: 250px;
}

img {
  height: 100px;
  width: 100px;
  margin-right: 80px;
  margin-left: 70px;
}
